.homepage-container {
  /* @apply w-full h-full p-2 px-4 sm:p-4 m-auto; */
  @apply w-full h-full m-auto;
  /* max-width: 1440px; */
}

.homepage-body {
  @apply w-full h-full m-auto;
  max-width: 1440px;
}

.app-title {
  @apply text-white font-bold;
  /* @apply bg-inj-primary font-bold; */
  /* background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
